<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
  <link rel="stylesheet" href="./css/home.css" />
</head>

<body class="body">
  <div class="main">
    <div class="navv12456">
      <div class="navbar">
        <div class="navbar-logo">
          <img src="/pic and vid/White and Pink Colorful Abstract Banner.png" alt="" />
        </div>
        <div class="navbar-items">
          <div class="hamburger">
            <img src="/pic and vid/1200px-Hamburger_icon.svg.webp" alt="">
          </div>
          <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Work</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-1">
      <div class="hero-section">
        <div class="tri123">

          <div class="tri"></div>
          <div class="tri2"></div>
        </div>
        <div class="left-side">
          <img src="/pic and vid/Musik.png" alt="" class="musik" />
        </div>
        <div class="right-side">
          <h1>
            A PLACE FOR COMPLETE <br> AUDIO SOLUTIONS
          </h1>
        </div>
      </div>
      <div class="hr"></div>
    </div>
    <div class="the-video-page">
      <video autoplay loop muted src="/pic and vid/9.mp4" class="video"></video>
    </div>
    <div class="page2">
      <div class="moving-text">
        <div class="con">
          <h1>MUSIC</h1>
          <div class="gola"></div>
          <h1>MIXING</h1>
          <div class="gola"></div>
          <h1>MASTERING</h1>
          <div class="gola"></div>
        </div>
        <div class="con">
          <h1>MUSIC</h1>
          <div class="gola"></div>
          <h1>MIXING</h1>
          <div class="gola"></div>
          <h1>MASTERING</h1>
          <div class="gola"></div>
        </div>
        <div class="con">
          <h1>MUSIC</h1>
          <div class="gola"></div>
          <h1>MIXING</h1>
          <div class="gola"></div>
          <h1>MASTERING</h1>
          <div class="gola"></div>
        </div>
      </div>
      <div class="page-3         ">
        <video autoplay loop muted src="/pic and vid/9.mp4" class="video          "></video>
        <div class="orange-rec           ">
          <p>
            Music is a universal language that bridges cultural and linguistic gaps, bringing people together in a
            shared emotional experience. It has the power to evoke a wide range of emotions, from joy and excitement to
            sorrow and nostalgia, making it a profound form of expression. Throughout history, music has been integral
            to rituals, ceremonies, and celebrations, reflecting its deep roots in human culture. The diversity of music
            genres, such as classical, jazz, rock, pop, and hip-hop, showcases the richness of human creativity and
            innovation. Music therapy taps into the healing power of music to improve mental health and well-being,
            offering therapeutic benefits to many. Learning to play an instrument or sing enhances cognitive abilities,
            fostering discipline and patience. Technological advancements have revolutionized music production, making
            it easier than ever to create, share, and enjoy music worldwide. Music often serves as a vital expression of
            cultural identity, preserving traditions and uniting communities. The music industry is a significant
            contributor to the global economy, driving creativity and innovation. Additionally, music education nurtures
            creativity, critical thinking, and collaboration, playing a crucial role in well-rounded personal
            development.</p>
        </div>
      </div>
      <div class="trimic11"></div>
      <div class="trimic12"></div>
      <div class="trimic13"></div>
      <div class="page-4">
        <video autoplay loop muted src="/pic and vid/8.mp4" class="video            "></video>
        <div class="orange-rec2             ">
          <p>
            Music is a universal language that bridges cultural and linguistic gaps, bringing people together in a
            shared emotional experience. It has the power to evoke a wide range of emotions, from joy and excitement to
            sorrow and nostalgia, making it a profound form of expression. Throughout history, music has been integral
            to rituals, ceremonies, and celebrations, reflecting its deep roots in human culture. The diversity of music
            genres, such as classical, jazz, rock, pop, and hip-hop, showcases the richness of human creativity and
            innovation. Music therapy taps into the healing power of music to improve mental health and well-being,
            offering therapeutic benefits to many. Learning to play an instrument or sing enhances cognitive abilities,
            fostering discipline and patience. Technological advancements have revolutionized music production, making
            it easier than ever to create, share, and enjoy music worldwide. Music often serves as a vital expression of
            cultural identity, preserving traditions and uniting communities. The music industry is a significant
            contributor to the global economy, driving creativity and innovation. Additionally, music education nurtures
            creativity, critical thinking, and collaboration, playing a crucial role in well-rounded personal
            development.</p>
        </div>
      </div>
    </div>
    <div class="page-5">
      <div class="latest-projects">
        <div class="circle"></div>
        <h2>LATEST PROJECTS</h2>
      </div>
      <div class="pro-cards-col">
        <div class="projects-card" id="tilt">
          <div class="part1">
              <video autoplay loop muted src="/pic and vid/8.mp4" class="video1"></video>
          </div>
          <div class="part2">
            <p>
              <a href="">Click Here to watch full video</a>
              Swati Mishra is an emerging talent known for her soulful voice and captivating performances.
            </p>
          </div>
        </div>
        <!-- 2 -->
        <div class="projects-card" id="tilt">
          <div class="part1">
              <video autoplay loop muted src="/pic and vid/8.mp4" class="video1"></video>
          </div>
          <div class="part2">
            <p>
              <a href="">Click Here to watch full video</a>
              Swati Mishra is an emerging talent known for her soulful voice and captivating performances.
            </p>
          </div>
        </div>
        <!-- 3 -->
        <div class="projects-card" id="tilt">
          <div class="part1">
              <video autoplay loop muted src="/pic and vid/8.mp4" class="video1"></video>
          </div>
          <div class="part2">
            <p>
              <a href="">Click Here to watch full video</a>
              Swati Mishra is an emerging talent known for her soulful voice and captivating performances.
            </p>
          </div>
        </div>
        <!-- 4 -->
        <div class="projects-card" id="tilt">
          <div class="part1">
              <video autoplay loop muted src="/pic and vid/8.mp4" class="video1"></video>
          </div>
          <div class="part2">
            <p>
              <a href="">Click Here to watch full video</a>
              Swati Mishra is an emerging talent known for her soulful voice and captivating performances.
            </p>
          </div>
        </div>
      </div>
      <!-- <button type="button" class="see-more">See more</button> -->
      <div class="navbar-items1">
        <ul class="nav1">
          <li><a href="#">See more</a></li>
        </ul>
      </div>
    </div>
    <div class="page7">
      <h1 class="    ">The Glimps of our work space</h1>
      <div class="moving-img">
        <div class="con2">
          <img src="/pic and vid/2.jpg" alt="">

          <img src="/pic and vid/2.jpg" alt="">

          <img src="/pic and vid/2.jpg" alt="">

        </div>
        <div class="con2">
          <img src="/pic and vid/2.jpg" alt="">

          <img src="/pic and vid/2.jpg" alt="">

          <img src="/pic and vid/2.jpg" alt="">

        </div>
        <div class="con2">
          <img src="/pic and vid/2.jpg" alt="">

          <img src="/pic and vid/2.jpg" alt="">

          <img src="/pic and vid/2.jpg" alt="">

        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="the-wave"></div>
    <div class="the-wave1"></div>
    <div class="the-wave2"></div>
    <div class="the-wave3"></div>
    <div class="the-wave4"></div>
    <div class="the-wave5"></div>
    <div class="the-wave6"></div>
    <div class="the-wave7"></div>
    <div class="the-wave8"></div>
    <div class="the-wave9"></div>
    <div class="the-wave10"></div>
    <div class="the-wave11"></div>
    <div class="left">
      <img src="/pic and vid/Musik.png" alt="" class="last-sign      " id="tilt" />
    </div>
    <div class="right">
      <div class="form-div       ">
        <h2>Contact Us</h2>
        <form action="/submit-feedback" method="post">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" required><br><br>

          <label for="feedback">Context:</label><br>
          <textarea type="text" id="text" name="text" required></textarea><br><br>
          <ul class="nav">
            <li><a href="#">Submit</a></li>
          </ul>
        </form>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script src="/js/home.js"></script>
</body>

</html>