<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MM Studio</title>
    <link
      rel="shortcut icon"
      href="/pic and vid/Musik.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./css/work.css" />
  </head>

  <body class="body">
    <div class="main">
      <div class="page-1">
        <div class="background">
          <img src="/pic and vid/DSC00063.JPG" alt="" />
        </div>
        <div class="navbar">
          <div class="l-side">
            <img
              src="/pic and vid/White and Pink Colorful Abstract Banner1.png"
              alt=""
            />
          </div>
          <div class="r-side">
            <a href="/home"><button>Home</button></a>
            <a href="/work"><button>Work</button></a>
          </div>
        </div>
        <div class="txt">
          <p>Welcome To Our Project Page</p>
        </div>
      </div>
      <!-- <button id="get-started">Get Started</button> -->
      <div class="our">
        <div class="latest">
          <h1>Our latest Projects</h1>
        </div>
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/wncNcu6jEgs?si=zFCKktUsywG2eMHy"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/ljAvrN0i8z4?si=q5SOdx4as0HYloTB"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/aQGTg5z3F2w?si=qpppuiaLgr2He9-p"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/NZBtC6eJGlQ?si=mM11qqVelcy_auiT"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/3pSQ3-tO99c?si=r6PdiTdplDLkZqli"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="big-box">
        <div id="top">
          <h1>Our Top Projects</h1>
        </div>
        <div class="card-section swiper-wrapper">
         <a href="https://youtu.be/wncNcu6jEgs?si=umt1DhYAV2JqQUNY">
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/ram ayenge.jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div></a>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/1(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/1(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/2(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/2(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
        </div>
      </div>
      <div class="big-box">
        <div id="top">
          <h1>Top Bhakti Songs</h1>
        </div>
        <div class="card-section swiper-wrapper">
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/3(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/4(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/3(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/5(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/4(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
        </div>
      </div>
      <div class="big-box">
        <div id="top">
          <h1>Top Songs</h1>
        </div>
        <div class="card-section swiper-wrapper">
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/9(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/10(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/7(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/8(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/11(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
        </div>
      </div>
      <div class="big-box">
        <div id="top">
          <h1>Top Hindi Songs</h1>
        </div>
        <div class="card-section swiper-wrapper">
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/6(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/7(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/5(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/8(bhakti).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
          <div class="ful-card">
            <div class="cards">
              <img src="/pic and vid/6(bhojpuri).jpg" alt="" />
            </div>
            <p>Title : Aakhir Mile kyo thee</p>
            <p>
              Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
              Chowdhury
            </p>
          </div>
        </div>
      </div>
     </div>
      <div class="page-6">
        <div class="p-left">
          <div class="reach">
            <h1>Reach Out Today</h1>
          </div>
          <div class="this-form">
            <p>
              Contact us through this form. We are help you with music needs and
              questions
            </p>
          </div>
        </div>
        <div class="p-right">
          <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" id="accessKeyInput"
            >
            <div class="first-1">
              <input minlength="1" maxlength="100" required type="text" placeholder="Name" />
              <input minlength="1" maxlength="100" required type="email" placeholder="Email"  />
            </div>
            <div class="first-2">
              <textarea
                required
                name="message"
                maxlength="1000"
                name="content"
                id=""
              ></textarea>
            </div>
            <button  type="submit">Send</button>
          </form>
        </div>
      </div>
      <footer>
        <div class="blackbar"></div>
      </footer>
    </div>
    <script>
      const webFormsKey = "<%= process.env.WEB_FORMS %>"; 
      document.getElementById('accessKeyInput').value = webFormsKey;
  </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="/js/work.js"></script>
  </body>
</html>
