<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MM Studio</title>
    <link
      rel="shortcut icon"
      href="/pic and vid/Musik.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./css/work.css" />
  </head>

  <body class="body">
    <div class="main">
      <div class="page-1">
        <div class="background">
          <img src="/pic and vid/wes-hicks-MEL-jJnm7RQ-unsplash.jpg" alt="" />
        </div>
        <div class="navbar">
          <div class="l-side">
            <img
              src="/pic and vid/White and Pink Colorful Abstract Banner1.png"
              alt=""
            />
          </div>
          <div class="r-side">
            <a href="/home"><button>Home</button></a>
            <a href="/work"><button>Work</button></a>
          </div>
        </div>
        <div class="txt">
          <p>Welcome To Our Project Page</p>
        </div>
      </div>
      <!-- <button id="get-started">Get Started</button> -->
      <div class="our">
        <div class="latest">
          <h1>Our latest Projects</h1>
        </div>
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/wncNcu6jEgs?si=zFCKktUsywG2eMHy"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/ljAvrN0i8z4?si=q5SOdx4as0HYloTB"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/aQGTg5z3F2w?si=qpppuiaLgr2He9-p"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/NZBtC6eJGlQ?si=mM11qqVelcy_auiT"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="swiper-slide">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/3pSQ3-tO99c?si=r6PdiTdplDLkZqli"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div id="top">
        <h1>Our Top Projects</h1>
      </div>
      <div class="card-section">
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/wncNcu6jEgs?si=zFCKktUsywG2eMHy"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ljAvrN0i8z4?si=q5SOdx4as0HYloTB"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/aQGTg5z3F2w?si=qpppuiaLgr2He9-p"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/8GWlIz2FCSc?si=Wkiz22h8Pja7Yzc8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/NZBtC6eJGlQ?si=mM11qqVelcy_auiT"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/YsakoajxbAc?si=oMbg-WMHwnzQGBeo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/_vRXnq3ISvs?si=Gs-VMtsAU4mLj2q0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/3pSQ3-tO99c?si=r6PdiTdplDLkZqli"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/XKjyPlWRk2Q?si=GKrN2eA-rfs7L-Dv"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/IhsrdK-NyZA?si=tFcwGV_ZTmpLrFtY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/orSdqxsiuxE?si=ZNgY3a17ii1DnJl3"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/orSdqxsiuxE?si=ZNgY3a17ii1DnJl3"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/orSdqxsiuxE?si=ZNgY3a17ii1DnJl3"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/orSdqxsiuxE?si=ZNgY3a17ii1DnJl3"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
        <div class="cards">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/orSdqxsiuxE?si=ZNgY3a17ii1DnJl3"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <p>Title : Aakhir Mile kyo thee</p>
          <p>
            Singer : Swati Mishra , Music : Mohit Musik, Video : Aniket
            Chowdhury
          </p>
        </div>
      </div>
      <div class="page-6">
        <div class="p-left">
          <div class="reach">
            <h1>Reach Out Today</h1>
          </div>
          <div class="this-form">
            <p>
              Contact us through this form. We are help you with music needs and
              questions
            </p>
          </div>
        </div>
        <div class="p-right">
          <form action="">
            <div class="first-1">
              <input maxlength="100" required type="text" placeholder="Name">
              <input maxlength="100" required type="text" placeholder="Email">
            </div>
            <div class="first-2">
              <textarea required  maxlength="1000" name="content" id=""></textarea>
            </div>
            <button>Send</button>
          </form>
        </div>
      </div>
      <footer>
        <div class="blackbar"></div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="/js/work.js"></script>
  </body>
</html>
